<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quiz 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chucknorris api</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <ng-container *ngIf="randomJoke;else loading">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Random Joke:
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{randomJoke.value}}
        </ion-card-content>

      </ion-card>
    </ng-container>

    <ng-container *ngIf="listCategories;else loading">
      Categorias:
      <ion-card 
      *ngFor="let item of listCategories;index as i">
        <ion-card-header>
          <ion-card-title>
            {{item}}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ng-container>

  </ion-content>

  <ng-template #loading>
    <ion-spinner name="crescent">
    </ion-spinner>
  </ng-template>

</ion-content>
